*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    min-height: 2100px;
    border: 1px solid #081b29;
    background-color: #081b29;  
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
}
.jumbotron{
    padding-top: 3rem;
    background-color: #081b29;
    color: white;
}

#about{
    background-color: #4e7997;
    min-height: 200px;
    padding-top: 3rem;
}
#projects{
    background-color: #4e7997;
    padding-top: 3rem;
}
.col-md-4{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
